@model IEnumerable<Admin.Models.Payee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PayeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayeeAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayeeCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayeeState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PayeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayeeAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayeeCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayeeState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNum)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PayeeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PayeeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PayeeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
